@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%; /* Almost white */
    --foreground: 240 10% 3.9%; /* Dark color for text */
    --primary: 211 58% 30%; /* Muted navy blue (Hex: #1F4E79) */
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 98%; /* Almost white (Hex: #F4F4F4) */
    --secondary-foreground: 240 5.9% 10%;
    --accent: 112 70% 50%; /* Bright eco-green (Hex: #3DBE29) */
    --accent-foreground: 0 0% 98%;
    --border: 240 10% 90%;
    --input: 240 10% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 112 70% 50%;
    --accent-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
